<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <title>Dashboard</title>
  </head>
  <%- include('./header'); %>
  <body>
    <h1>home</h1>
    <%- include('./error_messages'); %>
    <ul id="content">
      <% for(let i=0;i<results.length;i++){ %>
    <li><h1><%= results[i].title %></h1></li>
    <li><%= results[i].content %></li>
    <li>投稿者<%= results[i].username %></li>
    <% let judge = LikesDatas.some(function(val) { %>
       <% return val === results[i].id %>
     <% }) %>
     <% if(judge) { %>
    <div class="like">
      <form action="/dashboards/likes/<%=results[i].id%>" method="POST">
        <button class="btn" id="heartBtn" ></button>
      </form>
    </div>
    <span class="number"><%= results[i].LikesNumber %></span>
     <% }else if(!judge) { %>
    <div class="nolike">
      <form action="/dashboards/likes/<%=results[i].id%>" method="POST">
        <button class="btn" id="heartBtn" ></button>
      </form>
    </div>
    <span class="number"><%= results[i].LikesNumber %></span>
      <%} %>
    <br>
    <% if(user.username === results[i].username){%>
      <div id="button">
        <button onclick="location.href = '/dashboards/edit/<%=results[i].id%>'" id="editButton">編集</button>
        <form action="/dashboards/delete/<%= results[i].id%>?_method=DELETE" method="POST">
          <button id="deleteButton" type="submit">削除</button>
        </form>
      </div>
      <% } %>
    <% } %>
    </ul>
  </body>
</html>
